<div id="footer_wrap" class="outer" style="background-color: #111;">
  <footer class="inner foot">
    <p>2022 &copy; <a href="https://berkayguclu.com">Berkay Guclu</a></p>
    <ul class="socials">
        <li><a href="mailto:contact@berkayguclu.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
        <li><a href="https://www.linkedin.com/in/berkay-guclu/" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="https://twitter.com/BrkyGuclu" target="_blank"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </footer>
</div>

<style>
    .foot {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .socials {
        width: 20%;
        height: auto;
        padding-top: 10px;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    a:hover {
        color: #008080;
    }
</style>

